[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
xarray = "*"
scipy = "*"
tqdm = "*"
arlpy = "*"
moviepy = "*"
obspy = "*"
netcdf4 = "*"
sparse = "*"
pathos = "*"
psutil = "*"
pylint = "*"
scikit-learn = "*"
dask = "*"
distributed = "*"
zarr = "*"
scikit-image = "*"
copernicusmarine = "*"
openpyxl = "*"
ipympl = "*"
pyproj = "*"
nptdms = "*"
imageio = {extras = ["ffmpeg"], version = "*"}
pillow = "*"
numba = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
